@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Grandstander:wght@300&display=swap');

*{
  font-family: 'Grandstander', cursive;
  margin:0;
  padding: 0;
}


.color-text{
  color:#1d3557
}

.mystyle-bg{
  background-color: #fff1e6;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}